.Title{
    display: flex;
    justify-content: center;
}


.Title h1{
    margin: 55px 0 10px 0;
    opacity: 1;
    color: rgba(51,51,58,1);
    font-size: 3em;
    font-weight: 200;
    text-align: center;
    line-height: 60px;
}
@media screen and (max-width:680px){
    .Title h1{
        font-size: 2em;
    }
}